::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 5px 2px #00000040;
    border-radius: 10px;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0px 0px 5px 2px #00000040;
    border-radius: 10px;
    background-color: var(--v-primary-base);
}